﻿@{
	<br/>
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
	<div class="row">
		@model GestorVideoJuegos.Models.LoginViewModel
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
					<h4>Use una cuenta de administrador.</h4>
					<hr />
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                           @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })

                            @Html.ValidationMessageFor(m => m.UserName)

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                           @Html.PasswordFor(m => m.Password, new { @class = "form-control" }) @Html.ValidationMessageFor(m => m.Password)

                        </div>

                    </div>

                    <div class="form-group">
                             @*col-md-offset-2 col-md-10*@
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                        </div>

                }
            </section>
        </div>
    </div>

</div>