﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>REGISTRAR CODIGO</h1>   
	 <input type="text" class="text-center" id="Code" />
		<br />
    <input type="submit" id="registrar" value="Registrar" onclick="ventanaRegistrarGamer();" class="btn btn-success" />
</div>


<script type="text/javascript" >
    
    function clic() {
        var codigo = document.getElementById("Code").value;
        ventanaRegistrarGamer();
    }
</script>

<script>
    function ventanaRegistrarGamer() {
        var url = '@Url.Action("Create.cshtml", "Gamer")';
        $.ajax({
            cache: false,
            async: true,
            type: "GET",
            url: url,
            data: {},
            succes: function (response) {
                $('#resultado').html('');
                $('#resultado').html(response);
            }

        });
    }
</script>

<script >
    function gamer() {
        
    }
</script>
    