﻿@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    @*<div class="col-md-4">
	<ul>
		<a href="/home"><p4>Eres administrador?</p4></a>
	</ul>
	

    @model GestorVideoJuegos.Models.LoginViewModel

    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label1" })*@
                        <div class="col-md-10">
                            <h5>UserName @Html.TextBoxFor(m => m.UserName, new { @class = "form-control1" }) </h5>

                            @Html.ValidationMessageFor(m => m.UserName)

                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label1" })*@
                        <div class="col-md-10">
                            <h5>Password @Html.PasswordFor(m => m.Password, new { @class = "form-control1" }) @Html.ValidationMessageFor(m => m.Password)  </h5>

                        </div>

                    </div>

                    <div class="form-group">
                             @*col-md-offset-2 col-md-10*@
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                        </div>

                }
            </section>
        </div>
    </div>

</div>