﻿@model GestorVideoJuegos.Models.Gamer

@{
    ViewBag.Title = "Create";
}
<br/><br/>
<h2>REGISTRAR USUARIO</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Jugador</h4>
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.Carnet, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Carnet)
                @Html.ValidationMessageFor(model => model.Carnet)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombres, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Nombres)
                @Html.ValidationMessageFor(model => model.Nombres)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellidos, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Apellidos)
                @Html.ValidationMessageFor(model => model.Apellidos)
            </div>
        </div>

        

        @*<div class="form-group">
            @Html.LabelFor(model => model.codigo, "codigo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("codigo", "Seleccione  una  opcion")
                @Html.ValidationMessageFor(model => model.codigo)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.idCarrera, "Carrera", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idCarrera", "Seleccione  una  opcion")
                @Html.ValidationMessageFor(model => model.idCarrera)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idGrado, "Grado", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idGrado", "Seleccione  una  opcion")
                @Html.ValidationMessageFor(model => model.idGrado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idSeccion, "Seccion", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idSeccion", "Seleccione  una  opcion")
                @Html.ValidationMessageFor(model => model.idSeccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idJornada, "Jornada", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idJornada", "Seleccione  una  opcion")
                @Html.ValidationMessageFor(model => model.idJornada)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
