﻿@model GestorVideoJuegos.Models.Gamer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gamer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.carrera.carrera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carrera.carrera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grado.grado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grado.grado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jornada.jornada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jornada.jornada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seccion.seccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seccion.seccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carnet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carnet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idGamer }) |
    @Html.ActionLink("Back to List", "Index")
</p>
