﻿@model GestorVideoJuegos.Models.Gamer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Gamer</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idGamer)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombres)
                @Html.ValidationMessageFor(model => model.Nombres)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellidos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellidos)
                @Html.ValidationMessageFor(model => model.Apellidos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Carnet, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Carnet)
                @Html.ValidationMessageFor(model => model.Carnet)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.codigo, "codigo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("codigo", String.Empty)
                @Html.ValidationMessageFor(model => model.codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idCarrera, "idCarrera", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idCarrera", String.Empty)
                @Html.ValidationMessageFor(model => model.idCarrera)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idGrado, "idGrado", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idGrado", String.Empty)
                @Html.ValidationMessageFor(model => model.idGrado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idSeccion, "idSeccion", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idSeccion", String.Empty)
                @Html.ValidationMessageFor(model => model.idSeccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idJornada, "idJornada", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idJornada", String.Empty)
                @Html.ValidationMessageFor(model => model.idJornada)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
