﻿@model IEnumerable<GestorVideoJuegos.Models.Gamer>

@{
    ViewBag.Title = "JUGADORES";
}
<br /><br />
<h2>JUGADORES</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carrera.carrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.code.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grado.grado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jornada.jornada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seccion.seccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carnet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carrera.carrera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.code.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grado.grado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jornada.jornada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seccion.seccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carnet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idGamer }) |
            @Html.ActionLink("Details", "Details", new { id=item.idGamer }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idGamer })
        </td>
    </tr>
}

</table>
